@use 'buttons';
$backgroundColor: white;
$defaultPadding: 10px;
$labelRightPadding: 5px;
$tableHeaderColor: darkblue;
$equationColor: darkgreen;
$insetColor: tan;

body {
    background-color: default;
}

label {
    padding-right: $labelRightPadding;
}

div#computations {
    font-family: Arial, Helvetica, sans-serif;
    padding: $defaultPadding;
    background-color: $backgroundColor; // Changed background color to light gray
}

input#expression-input {
    width: 500px;
}

div#parseErrors {
    color: red;
}

div#panel {
    $backgroundColor: rgb(241, 238, 232);
    font-size: 20pt;
    padding: $defaultPadding;
    background-color: $backgroundColor; // Changed background color to light gray
    border: 5px inset $insetColor;
    width: auto;

    input {
        background-color: $backgroundColor;
    }
}

div.panel-entry {
    margin-top: 10px;
    padding: $defaultPadding;

    div#expression {
        font-weight: bold;
        color: $equationColor;
    }
}

div#variables {
    width: 500px;
    margin-top: 10px;
    font-size: 12pt;

    table {
        border-collapse: collapse;
        thead {
            tr {
                color: $tableHeaderColor;
                th {
                    width: 100px;
                }
            }
        }
        tbody {
            td {
                border: 1px solid black;
                &.variable-name {
                    font-weight: bold;
                }
            }
        }
    }
}