@use 'buttons';
$backgroundColor: #f5e8e8;
$defaultPadding: 10px;
$labelRightPadding: 10px;

body {
    background-color: default;
}

label {
    padding-right: $labelRightPadding;
}

div#adder {
    border: solid; 
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: $defaultPadding;
    background-color: lightgray; // Changed background color to light gray
}

div#parseErrors {
    color: red;
}
